# Godot 4+ specific ignores
.godot/
pat
kanban_tasks_data.kanban
empty.tscn
project.godot
new_script.gd
icon.svg
icon.svg.import
this_has_poop/
addons/autofoldercolor/save_data/saved_configs/config_1.tres
addons/autofoldercolor/save_data/backups/backup_1.tres
addons/autofoldercolor/save_data/afc_config.tres
addons/autofoldercolor/save_data/afc_settings.tres
addons/godot-git-plugin
addons/kanban_tasks
addons/paste_bin_api
addons/autofoldercolor/essential/dock/afc_dock_dupe.tscn
/android/